
@{
    ViewData["Title"] = "About";
}

<h2 class="alert alert-info">About</h2>
<div class=" row border-dark" >
    <div class="bg-success">

        <p>
            
        </p>
        <h3>Welcome to Our Asp.NET class with MVC </h3>
        <p>
            
        </p>
    </div>

</div>

