@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @for(int i =1; i<=20; i++)
    {
        <h1 class=" alert alert-danger" >@i. Asp.NET MVC Class</h1>
    }

</div>
